<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaludoServlet</servlet-name>
        <servlet-class>demo.web.SaludoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdiosServlet</servlet-name>
        <servlet-class>demo.web.AdiosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaludoServlet</servlet-name>
        <url-pattern>/saludo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdiosServlet</servlet-name>
        <url-pattern>/adios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
